/* Media Queries */

@media (max-width: 1540px) {
    html,
    body {
        font-size: 16px;
    }
}
@media (max-width: 1330px) {
    .container {
        max-width: 100%;
    }
}
@media screen and (min-width: 0) and (max-width: 992px) {
    html,
    body {
        font-size: 15px;
    }
    .container {
        --bs-gutter-x: 3rem;
    }
}
@media screen and (min-width: 0) and (max-width: 767px) {
    // html,body{
    //     font-size: 13px;
    // }
    header .app-header__logo-img{
        height: 1.8rem;
    }
}
@media screen and (min-width: 0) and (max-width: 400px) {
}
